body {
}

.fondo-vistaEst {
    background-image: url('../../resources/proyectoestudiante/vistaproest.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.BtnProy {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

    .BtnProy:focus,
    .BtnProy:hover {
        color: #fff;
    }

        .BtnProy:focus:after,
        .BtnProy:hover:after {
            width: 100%;
            left: 0%;
        }

    .BtnProy:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #fff;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }

.BtnProyElim {
    font-size: 18px;
    color: #ff4d4d;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

    .BtnProyElim:focus,
    .BtnProyElim:hover {
        color: #ff0000;
    }

        .BtnProyElim:focus:after,
        .BtnProyElim:hover:after {
            width: 100%;
            left: 0%;
        }

    .BtnProyElim:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #ff0000;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }

.BtnProyNig {
    font-size: 18px;
    color: dimgray;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

    .BtnProyNig:focus,
    .BtnProyNig:hover {
        color: black;
    }

        .BtnProyNig:focus:after,
        .BtnProyNig:hover:after {
            width: 100%;
            left: 0%;
        }

    .BtnProyNig:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: black;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }

.BtnProyVerd {
    font-size: 18px;
    color: #2ecc71; 
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

    .BtnProyVerd:focus,
    .BtnProyVerd:hover {
        color: #27ae60; 
    }

        .BtnProyVerd:focus:after,
        .BtnProyVerd:hover:after {
            width: 100%;
            left: 0%;
        }

    .BtnProyVerd:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #27ae60; 
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }


.Textbox {
    position: relative;
    margin: 50px auto;
    width: 200px;
}

    .Textbox input {
        font-size: 20px;
        width: 100%;
        border: none;
        border-bottom: 2px solid #ccc;
        padding: 5px 0;
        background-color: transparent;
        outline: none;
        color: white;
    }

    .Textbox .label {
        position: absolute;
        top: 0;
        left: 0;
        color: #ccc;
        transition: all 0.3s ease;
        pointer-events: none;
    }

    .Textbox input:focus ~ .label,
    .Textbox input:valid ~ .label {
        top: -20px;
        font-size: 16px;
        color: #fff;
    }

    .Textbox .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
        transform: scaleX(0);
        transition: all 0.3s ease;
    }

    .Textbox input:focus ~ .underline,
    .Textbox input:valid ~ .underline {
        transform: scaleX(1);
    }

.fijoArriba .label {
    top: -20px;
    font-size: 14px;
    color: #bbb;
}

.ColorCard {
    background: rgba(120, 120, 120, 1);
    color: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .25);
    margin-right: 24px;
}

.InfoBox {
    background: rgba(120, 120, 120, 1);
    color: #fff;
    padding: 1rem;
}