@model List<GestorAcademicoEntities.Curso>

@{
    ViewData["Title"] = "Vista Estudiante";
}

<h2>Bienvenido estudiante @ViewBag.Usuario 🎓</h2>

<div class="row mt-4">
    @foreach (var curso in Model)
    {
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title fw-bold">@curso.NombreCurso</h5>
                    <p class="card-text mb-1"><i class="bi bi-calendar3"></i> @curso.CodigoCurso</p>
                    <p class="card-text mb-1"><i class="bi bi-building"></i> Aula: @curso.Descripcion</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">Ingresar →</a>
                </div>
            </div>
        </div>
    }
</div>


